.card-deck { margin-top: 2rem; }

.card-deck .card, .card {
    border: none;
    margin-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
}

.card__image {
    padding: 1.25rem;
    box-shadow: 1px 2px 4px rgba(189,189,189,0.5);
}

.card-body {
    padding: 1.25rem 0;

    .far.fa-file-pdf {
        float: right;
        font-size: 2rem;

        &:hover,
        &:visited { color: #b9342d; }
    }
}

.title-details {
    display: inline-block;
    width: 85%;
}

.card-title {
    font-size: 1rem;
    color: #b9342d;
}

.card-subtitle {
    font-size: 0.75rem;
    color: #fb9129;
}