.modal-dialog { margin: 9.75rem auto; }

.modal-content { border-radius: 30px; }

.login-modal .modal-header {
    display: block;
    text-align: center;
    padding: 2rem 4rem;
}

.modal-title { margin-bottom: 0.25rem; }

.modal-body {
    padding: 2rem 4rem 6rem;

    input.form-control { border: 1px solid #a9a9a9; }

    .btn-login { width: 100%; }
}

.details-modal {
    .modal-body {
        padding-top: 6rem;

        label {
            color: #333;
            font-size: 1.313rem;
            margin-bottom: 0;
        }

        p { color: #999; }
    }

    .card-body {
        p {
            text-align: right;
            width: 85%;
            display: inline-block;
            margin-top: 0.45rem;
            color: #333;
        }

        .far.fa-file-pdf { color: #b9342d; }
    }
}

.confirmation-modal {
    .modal-header {
        display: block;
        text-align: center;
        padding-top: 2em;
    }

    .modal-body {
        padding-bottom: 2em;
        text-align: center;

        .btn {
            width: 45%;
            padding-left: 3em;
        }

        .btn-outline {
            margin-left: 1em;
        }
    }
}
